<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905253298603-tblfpfo5khko3tsvkrrt7aguqv7ekc3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905253298603-tblfpfo5khko3tsvkrrt7aguqv7ekc3q</string>
	<key>API_KEY</key>
	<string>AIzaSyAkmo9K-H-4IIR1ITHAET2aXA_uDThzSAY</string>
	<key>GCM_SENDER_ID</key>
	<string>905253298603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorTest</string>
	<key>PROJECT_ID</key>
	<string>doctor-test-5ddc4</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-test-5ddc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905253298603:ios:8dfd728f0cd27a333072ee</string>
</dict>
</plist>